<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ignore admin folder" stopProcessing="true">
          <match url="^admin/" />
          <action type="None" />
        </rule>
        <rule name="redirect legacy html" enabled="true" stopProcessing="true">
          <match url=".*" ignoreCase="true" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^$" ignoreCase="false" />
            <add input="{REQUEST_URI}" pattern="^/(admin)" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/new" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
