@keyframes Loading {
  from {
    transform: scale(0.65);
  }
  to {
    transform: scale(1.0);
  }
}

@font-face {
    font-family: 'Galao';
    src: url('./fonts/Galao-Regular.woff') format('woff'),
        url('./fonts/Galao-Regular.ttf') format('truetype'),
        url('./fonts/Galao-Regular.svg#Galao-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'William Regular';
    src: url('./fonts/WilliamRegularA.woff2') format('woff2'),
        url('./fonts/WilliamRegularA.woff') format('woff'),
        url('./fonts/WilliamRegularA.svg#WilliamRegularA') format('svg');
}

@font-face {
    font-family: 'William Italic';
    src: url('./fonts/WilliamRegularA-Italic.woff2') format('woff2'),
        url('./fonts/WilliamRegularA-Italic.woff') format('woff'),
        url('./fonts/WilliamRegularA-Italic.svg#WilliamRegularA-Italic') format('svg');
}

@font-face {
    font-family: 'Pragmatica Light';
    src: url('./fonts/PragmaticaLight.woff2') format('woff2'),
        url('./fonts/PragmaticaLight.woff') format('woff'),
        url('./fonts/PragmaticaLight.svg#PragmaticaLight') format('svg');
    font-style: normal;
}


* {
  outline: none;
  line-height: 1;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'William Regular';
  font-variant-ligatures: none;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: none;
}

.no-animate,
.no-animate * {
  animation: none !important;
}

.main {
  display: grid;
  grid-template-columns: repeat(2,minmax(130px,1fr));
  grid-template-rows: 160px auto;
  grid-column-gap: 20px;
  margin: 0 auto;

  @media (max-width: 767px) {
    grid-row-gap: 0px;
    grid-template-rows: 120px auto;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(8, minmax(82px,1fr));
    grid-template-rows: 140px auto;
    grid-column-gap: 10px;
    margin: 0;
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    grid-template-columns: repeat(12, minmax(71px,1fr));
    grid-template-rows: 140px auto;
    grid-column-gap: 10px;
    margin: 0 30px;
  }

  @media (min-width: 1280px) and (max-width: 1439px) {
    grid-template-columns: repeat(12, minmax(83px,1fr));
    grid-template-rows: 165px auto;
    grid-column-gap: 20px;
    margin: 0 30px;
  }

  @media (min-width: 1440px) and (max-width: 1919px) {
    grid-template-columns: repeat(12, minmax(98px,1fr));
    grid-template-rows: 180px auto;
    grid-column-gap: 16px;
    margin: 0 40px;
  }

  @media (min-width: 1920px) {
    grid-template-columns: repeat(12, minmax(117px,1fr));
    grid-column-gap: 40px;
    margin: 0 40px;
  }
}

.footer-logo {
  position: relative;
  width: 100%;
  margin: 40px 0 20px;
  grid-row: 3;
  grid-column: span 2;
  opacity: 0;
  transition: opacity .3s ease;

  &.is-ready {
    opacity: 1;
  }

  svg {
    position: relative;
    display: block;
  }


  @media (max-width: 370px) {
    padding: 0 20px;
    margin: 40px 0 20px;
  }

  @media (min-width: 371px) and (max-width: 767px) {
    padding: 0 20px;
    margin: 40px 0;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-column: span 8;
        padding: 0 20px;
  }

  @media (min-width: 1024px) {
    grid-column: span 12;
    padding: 0 20px;
  }

  @media (min-width: 1440px) {
    margin: 60px 0 20px;
  }
}

br.desktop {
  display: none;

  @media (min-width: 768px) and (max-width: 1599px) {
    display: block;
  }
}

nobr.desktop {
  white-space: normal;

  @media (min-width: 768px) and (max-width: 1599px) {
    white-space: nowrap;
  }
}

.is-italic {
  font-family: 'Pragmatica Light',sans-serif;
}

.lower-case {
  text-transform: lowercase;
}

.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background: #fff;
  transition: opacity .3s ease;

  &-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 1px;
    width: 0;
    background-color: $red;
    transition: width 1s cubic-bezier(.175,.885,.32,1.275);
    max-width: calc(100vw - 80px);
  }
}
