.footer-wrap {
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;

  &.is-invisible {
    visibility: hidden;
  }
}

.footer-container {
  position: relative;
  display: grid;
  height: 80px;
  padding: 0 20px;
  grid-template-columns: repeat(2, minmax(100px,1fr));
  grid-column-gap: 16px;

  @media (min-width: 768px) and (max-width: 1439px) {
    grid-template-columns: repeat(8, minmax(60px,1fr));
    grid-column-gap: 16px;
  }

  @media (min-width: 1440px) {
    padding: 0 32px;
    grid-template-columns: repeat(12, minmax(100px,1fr));
  }
}

.footer-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  grid-column: span 2;
  font-size: 16px;
  line-height: 80px;
  letter-spacing: 0.8px;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    grid-column: span 6;
  }

  @media (min-width: 1440px) {
    grid-column: span 12;
  }

  &--mobile {
    position: relative;
    display: inline-block;

    &:nth-of-type(1) {
      padding-right: 15px;
    }
  }
}

.footer-side {

  &--mobile {
    @media (min-width: 1024px) {
      display: none;
    }
  }
}
