.project-list-container {
  position: relative;
  display: grid;
  padding: 0 20px;
  grid-template-columns: repeat(2, minmax(100px,1fr));
  grid-column-gap: 16px;
  grid-row-gap: 32px;

  @media (min-width: 768px) and (max-width: 1439px) {
    grid-template-columns: repeat(8, minmax(60px,1fr));
    grid-column-gap: 16px;
  }

  @media (min-width: 1440px) {
    padding: 0 32px;
    grid-template-columns: repeat(12, minmax(100px,1fr));
  }
}

.project-list-tags {
  position: relative;
  display: grid;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-template-columns: repeat(2, minmax(100px,1fr));
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  overflow-y: hidden;
  overflow-x: visible;

  @media (min-width: 768px) and (max-width: 1439px) {
    grid-template-columns: repeat(8, minmax(60px,1fr));
    grid-column-gap: 16px;
  }

  @media (min-width: 1440px) {
    padding-left: 32px;
    padding-top: 60px;
    padding-bottom: 60px;
    grid-template-columns: repeat(12, minmax(100px,1fr));
  }

  &-container {
    position: relative;
    display: flex;
    overflow: scroll;
    grid-column: span 2;
    margin-bottom: -30px;

    @media (min-width: 768px) and (max-width: 1439px) {
      grid-column: 2 / span 7;
    }

    @media (min-width: 1440px) {
      grid-column: 2 / span 11;
    }
  }

  &-inner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }

  &-item {
    position: relative;
    display: inline-block;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    padding-right: 175px;
    white-space: nowrap;
    color: $text;

    &:hover {
      color: #fff;
      text-shadow: 1px 1px 0 rgba(0,0,0,.8), -1px -1px 0 rgba(0,0,0,.8), 1px -1px 0 rgba(0,0,0,.8), -1px 1px 0 rgba(0,0,0,.8), 1px 1px 0 rgba(0,0,0,.8);
      opacity: 0.8;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.is-active-slide-0 {
  .react-swipeable-view-container {
    transform: translateX(calc(0)) !important;
  }
}

.is-active-slide-1 {
  .react-swipeable-view-container {
    transform: translateX(calc(-100% - 16px)) !important;
  }
}

.is-active-slide-2 {
  .react-swipeable-view-container {
    transform: translateX(calc(-200% - 32px)) !important;
  }
}

.is-active-slide-3 {
  .react-swipeable-view-container {
    transform: translateX(calc(-300% - 48px)) !important;
  }
}

.react-swipeable-view-container > div {
  width: calc(100% + 16px) !important;
  padding-left: 8px;
  padding-right: 8px;

  &:first-of-type {
    width: calc(100% + 8px) !important;
    padding-right: 8px;
    padding-left: 0;
  }

  &:last-of-type {
    width: calc(100% + 8px) !important;
    padding-left: 8px;
    padding-right: 0;
  }
}
