@media screen and (min-color-index:0)
and(-webkit-min-device-pixel-ratio:0) { @media
{
    .project-wrap {
      @media (max-width: 414px) {
        padding: 130px 20px 0 !important;
      }
    }
}}

.project-wrap,
.project-block {
  position: relative;
  display: block;
  grid-row: 2;
  grid-column: span 2;

  @media (min-width: 768px) and (max-width: 1023px) {
    display: grid;
    grid-template-columns: repeat(8,minmax(82px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-column: span 8;
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    display: grid;
    grid-template-columns: repeat(12, minmax(71px,1fr));
    grid-column-gap: 10px;
    padding-top: 20px;
    grid-row: span 2;
    grid-column: span 12;
  }

  @media (min-width: 1280px) and (max-width: 1439px) {
    display: grid;
    grid-template-columns: repeat(12, minmax(83px,1fr));
    grid-column-gap: 20px;
    padding-top: 20px;
    grid-row: span 2;
    grid-column: span 12;
  }

  @media (min-width: 1440px) and (max-width: 1919px) {
    display: grid;
    grid-template-columns: repeat(12, minmax(98px,1fr));
    grid-column-gap: 16px;
    padding-top: 20px;
    grid-row: span 2;
    grid-column: span 12;
  }

  @media (min-width: 1920px) {
    display: grid;
    grid-template-columns: repeat(12, minmax(117px,1fr));
    grid-column-gap: 40px;
    padding-top: 20px;
    grid-row: span 2;
    grid-column: span 12;
  }
}

.project-wrap {
  grid-row-gap: 0;

  @media (max-width: 370px) {
    grid-template-rows: calc(100vh - 103px) auto;
  }

  @media (min-width: 371px) and (max-width: 767px) {
    grid-template-rows: calc(100vh - 115px) auto;
  }

  @media (max-width: 1023px) {
    padding: 0 20px;
  }

  @media (min-width: 1440px) and (max-width: 1919px) {
    grid-template-rows: 169px auto;
  }
}

.project-block {
  grid-row: 1;

  @media (max-width: 767px) {
    padding: 30px 0 20px;
    grid-template-rows: auto 1fr;
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    grid-template-rows: auto 1fr;
    grid-row-gap: 0;
  }

  @media (min-width: 1440px) {
    grid-template-rows: 109px auto;
    grid-row-gap: 0;
  }
}

.project-name {
  position: relative;
  display: block;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: .3px;
  z-index: 9;

  &-year {
    font-family: 'Pragmatica Light',sans-serif;
    color: $red;
    font-size: 15px;
    line-height: 19px;
    margin-left: 15px;
    cursor: pointer;

    @media (min-width: 768px) and (max-width: 1599px) {
      font-size: 16px;
      line-height: 38px;
    }

    @media (min-width: 1600px) {
      font-size: 18px;
      line-height: 48px;
    }
  }

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-column: span 6;
    margin-bottom: 10px;
  }

  @media (min-width: 1024px) {
    grid-column-start: 2;
    grid-column-end: 8;
  }

  @media (min-width: 1280px) and (max-width: 1439px) {
    grid-column-start: 2;
    grid-column-end: 9;
    font-size: 30px;
    line-height: 38px;
  }

  @media (min-width: 1440px) and (max-width: 1599px) {
    grid-column-start: 2;
    grid-column-end: 9;
    font-size: 30px;
    line-height: 38px;
  }

  @media (min-width: 1600px) {
    grid-column-start: 2;
    grid-column-end: 10;
    font-size: 38px;
    line-height: 48px;
  }
}

.project-slider {
  position: relative;
  height: 100%;

  &-wrap {
    position: relative;
    display: block;
    grid-column: span 2;
    grid-row: 2;

    @media (max-width: 767px) {
      grid-row: span 2;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      grid-column: span 8;
      margin-bottom: 40px;
    }

    @media (min-width: 1024px) {
      grid-column: span 12;
      padding: 20px 0;
    }

    @media (min-width: 1920px) {
      padding-top: 60px !important;
    }
  }

  &-inner {
    position: relative;
    display: block;

    @media (min-width: 1024px) and (max-width: 1279px) {
      display: grid;
      grid-template-columns: repeat(12, minmax(71px,1fr));
      grid-column-gap: 10px;
      grid-column: span 12;
    }

    @media (min-width: 1280px) and (max-width: 1439px) {
      display: grid;
      grid-template-columns: repeat(12, minmax(83px,1fr));
      grid-column-gap: 20px;
      grid-column: span 12;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
      display: grid;
      grid-template-columns: repeat(12, minmax(98px,1fr));
      grid-column-gap: 16px;
      grid-column: span 12;
    }

    @media (min-width: 1920px) {
      display: grid;
      grid-template-columns: repeat(12, minmax(117px,1fr));
      grid-column-gap: 40px;
      grid-column: span 12;
    }
  }

  &-item {
    position: relative;
    padding-bottom: 40px;

    img {
      position: relative;
      display: block;
      width: auto;
      height: 100%;
      margin: 0 auto;

      @media (max-width: 767px) {
        max-width: calc(100% - 20px);
        height: auto;
        width: calc(100vw - 40px);
        object-fit: cover;
        object-position: center;

        &.is-vert {
          width: auto;
          height: calc(100vh - 40px);
        }
      }
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
      /*height: calc(100vh - 40px);*/
      height: calc(100vh - 98px);

      &:nth-of-type(1) {}
    }

    @media (min-width: 1440px) and (max-width: 1599px){
      /*height: calc(100vh - 40px);*/
      height: calc(100vh - 129px);

      &:nth-of-type(1) {}
    }

    @media (min-width: 1600px) {
      /*height: calc(100vh - 60px);*/
      height: calc(100vh - 169px);

      &:nth-of-type(1) {}
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      margin: 0 auto;
      height: 755px;
      overflow: hidden;
      width: calc(100% - 40px);
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
      grid-column-start: 2;
      grid-column-end: 12;
      margin: 0;
      overflow: hidden;
    }

    @media (min-width: 1280px) and (max-width: 1439px) {
      grid-column-start: 2;
      grid-column-end: 12;
      margin: 0;
      overflow: hidden;
    }

    @media (min-width: 1440px) {
      grid-column-start: 2;
      grid-column-end: 12;
      margin: 0;
      overflow: hidden;
    }
  }

  &-arrow {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    height: 24px;
    width: 10px;

    @media (min-width: 1024px) {
      width: 50%;
      height: 100%;
      cursor: none;

      svg {
        display: none;
        pointer-events: none;
        height: 40px;
        width: 15px;
      }
    }

    @media (max-width: 1023px) {
      svg {
        display: block !important;
        position: absolute !important;
        top: auto !important;
        left: auto !important;
      }
    }

    &.is-prev {
      left: -10px;
      @media (min-width: 768px) {
        left: 0px;
      }
    }

    &.is-next {
      right: -10px;
      @media (min-width: 768px) {
        right: 0px;
      }
    }
  }
}

.project-info {
  position: relative;
  display: block;
  grid-column: span 2;
  text-align: center;

  @media (max-width: 767px) {
    height: auto !important;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-column: span 8;
  }

  @media (min-width: 1024px) {
    grid-column: span 12;
    padding-top: 20px;
  }

  &-headline {
    position: relative;
    display: block;
    font-size: 58px;
    line-height: 65px;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      margin-top: 40px;
    }
  }

  &-container {
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      min-height: 300px;
      height: 100%;
    }
  }

  &-about {
    position: relative;
    display: block;
    color: $red;
    font-family: 'Pragmatica Light',sans-serif;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    left: 0;

    @media (max-width: 767px) {
      padding-top: 20px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 100%;
      left: auto;
    }

    @media (min-width: 1024px) {
      width: 50%;
      left: auto;
      border-bottom: none;
      border-right: 1px solid #dcdcdc;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-paragraph {
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto;
      padding-bottom: 20px;

      &:last-of-type {
        padding-bottom: 40px;
      }

      @media (min-width: 1024px) {
        width: 38vw;
      }

      @media (min-width: 1600px) {
        font-size: 18px;
      }
    }
  }

  &-work {
    margin: 40px 0px 0;
    position: relative;
    display: block;
    width: 100%;
    left: 0;

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 100%;
      left: auto;
    }

    &-paragraph {
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto;
      padding-bottom: 20px;

      &:last-of-type {
        padding-bottom: 0px;
      }

      @media (min-width: 1024px) {
        width: 38vw;
      }

      @media (min-width: 1600px) {
        font-size: 18px;
      }
    }

    @media (min-width: 1024px) {
      margin: 0;
      width: 50%;
      left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.project-close-btn {
  position: fixed;
  display: block;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 99;
  width: 48px;
  height: 48px;
  transition: top .3s ease;

  a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  svg {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    @media (max-width: 767px) {
      path {
        stroke-width: 1px;
      }
    }
  }

  @media (max-width: 767px) {
    top: 20px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 30px;
    height: 30px;
    left: 30px;
    top: 10px;
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    width: 30px;
    height: 30px;
    top: 44px;
    left: 30px;
  }

  @media (min-width: 1440px) and (max-width: 1599px) {
    width: 30px;
    height: 30px;
    top: 44px;
    left: 30px;
  }

  @media (min-width: 1600px) {
    width: 30px;
    height: 30px;
    top: 44px;
    left: 40px;
  }
}
